body {
    font-family: 'Plantin', 'Times New Roman', serif;
    font-size: 21px;
}

a {
    color: black;
}

a:hover {
    color: #afdded;
    text-decoration: underline !important;
}

h1 {
    text-align: center;
}

.navbar {
    background: rgb(247,206,230);
    background: linear-gradient(90deg, rgba(247,206,230,1) 0%, rgba(188,187,223,1) 55%, rgba(159,233,218,1) 100%);
    border-color: rgb(27,73,88, 0);
}

.navbar-brand img {
    max-width: 180px;
    position: relative;
    top: -4px;
    left: .5rem;
    margin-right: 1rem;
}

.navbar-nav {
    font-size: 1.2rem;
}

.masthead {
  height: 95vh;
  min-height: 500px;
  background-image: url('images/Female_MPs_of_MSPD_Germany_1919.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.section-header {
    font-family: Favorit, monospace;
}

.facts {
    margin-top: 5rem;
}

.graph {
    margin: auto;
    margin-top: 4rem;
}

.info-graph-1 {
    margin: auto;
}

.divider {
    width: 15%;
    border-top: 3px solid #c3ddee;
    margin: auto;
}

.divider2 {
    width: 15%;
    border-top: 3px solid #b0d4b0;
    margin: auto;
}

.divider3 {
    width: 15%;
    border-top: 3px solid #c5d0f0;
    margin: auto;
}

.colour1 {
    color: #c3ddee !important;
}

.colour2 {
    color: #b0d4b0 !important;
}

.colour3 {
    color: #c5d0f0 !important;
}

.btn-link {
    font-family: 'Favorit', monospace;
    color: black;

    :hover {
        color: #c3ddee;
    }
}

.navbar-bottom {
    margin: auto;
}
