path {
    stroke: grey;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 4;
}

.line-0 {
    stroke: red;
}

.line-1 {
    stroke: yellow;
}

.line-2 {
    stroke: green;
}

.line-3 {
    stroke: blue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}