path {
    stroke: #999;
    stroke-width: 2;
    fill: none;
    shape-rendering: auto;
}

g text {
    font: .9rem 'Favorit', Courier, monospace;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: auto;
}

.line {
    fill: none;
    stroke-width: 6;
    shape-rendering: auto;
}

.line-0 {
    stroke: #FFEF8E;
}

.line-1 {
    stroke: #FFCDB3;
}

.line-2 {
    stroke: #72B1F8;
}

.line-3 {
    stroke: #9FE9DA;
}

#chart circle {
    stroke: #000;
    fill: white;
}

div.tooltip {
    position: absolute;
    width: 250px;
    padding: 1rem;
    font-size: 0.9rem;
    background: linear-gradient(90deg, rgba(247,206,230,1) 0%, rgba(188,187,223,1) 55%, rgba(159,233,218,1) 100%);
    border: 0px;
    box-shadow: 0px 0px 2px #999;
    pointer-events: none;
    font: 1rem 'Plantin', 'Times New Roman', serif;
}

#chart .axis-label, .legend-box text{
    font: 1.2rem 'Plantin', 'Times New Roman', serif;
}

.legend rect {
  fill: white;
  stroke: #999;
  opacity:0.8;
}
