{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" media="screen" />
      <TITLE>My first HTML document</TITLE>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/series-label.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      <TITLE>My first HTML document</TITLE>
   </HEAD>
   <BODY>
   <div id="container"></div>
   <script type="text/javascript">
      var data = {{legislatures | safe }}
      var years = {{years | safe }}
   </script>
   <script src="{% static 'vis.js' %}"></script>

   </BODY>
</HTML>